<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <div class="list-head">
            <p class="list-title">What's on the DOCET?</p>
            <span class="add-btn">
                <a href="/items/new"><i class="fas fa-plus-square fa-2x"></i></a>
            </span>
        </div>
        <ul class="indexItems">
            <% items.forEach(item => { %>
            <div class="card">
                <li class="list">
                    <div class="item-head">
                        <div class="item-title"><%=item.title %><br /></div>
                        <div class="edit-delete-btn">
                            <a class="anchor-eye" href="/items/<%=item._id %>"><i class="fas fa-eye"></i></a>
                            <form action="/items/<%=item._id %>/edit">
                                <button class="edit-btn">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                            <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
                                <button class="delete-btn">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="description"><%= item.description %></div>
                    <div class="urgentDate">
                        <div class="urgent-box">
                            <% if(item.urgent === true) { %>
                                <div class="urgent-text">
                                    <div class="urgent"></div><p class="urgText">URGENT!</p>
                                </div>
                            <% } else { %> 
                                <div class="notUrgent"></div>
                            <% } %>
                        </div>
                        <div class="date">
                            <i class="far fa-calendar-alt"></i> Due: <%= item.dueDate %>
                        </div>
                    </div>
                </li>
            </div>
            <% }) %>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>

    <div id="overlay"></div>
</body>

</html>