<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <ul class="indexItems">
            <% items.forEach(item => { %>
            <div class="card">
                <li>
                    <div class="title"><a href="/items/<%=item._id %>"> <%=item.title %> </a><br /></div>
                    <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
                        <button class="edit-btn">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="delete-btn">
                        <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                    <div class="description"><%= item.description %></div>
                    <div class="urgentDate">
                        <div class="urgent">
                            <%= item.urgent %> URGENT!
                        </div>
                        <div class="date">
                            <i class="far fa-calendar-alt"></i> Due: <%= item.dueDate %>
                        </div>
                        <form action="/items/<%=item._id %>/edit">
                        </form>
                    </div>
                </li>
            </div>
            <% }) %>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>