<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <h1><%= item.title %></h1><br />
        <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
            <button class="edit-btn">
                <i class="fas fa-edit"></i>
            </button>
            <button class="delete-btn">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
        <%= item.description %><br />
        <%= item.urgent %> Urgent!<br />
        <i class="far fa-calendar-alt"></i> Due: <%= item.dueDate %><br />
        <form action="/items/<%=item._id %>/edit">
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>